lvim/.config/lvim/plugin
i3/.config/i3/config
nvim/.config/nvim/plugin/packer_compiled.lua
nvim/.config/nvim/nvim
cmus/.config/cmus/cache
cmus/.config/cmus/command-history
cmus/.config/cmus/lib.pl
cmus/.config/cmus/search-history
cmus/.config/cmus/autosave
personal/tmux.session.paths
personal/sessionizer/paths
cmus/.config/cmus/playlists/10s
cmus/.config/cmus/playlists/ACDC
cmus/.config/cmus/playlists/Best_of_10s
cmus/.config/cmus/playlists/Birds_of_Prey
cmus/.config/cmus/playlists/Chill
cmus/.config/cmus/playlists/Cloud_kid
cmus/.config/cmus/playlists/Coder_Music
cmus/.config/cmus/playlists/CodeSession
cmus/.config/cmus/playlists/Compilations
cmus/.config/cmus/playlists/country
cmus/.config/cmus/playlists/Country
cmus/.config/cmus/playlists/David_Guetta
cmus/.config/cmus/playlists/DMX
cmus/.config/cmus/playlists/Eminem
cmus/.config/cmus/playlists/Empire
cmus/.config/cmus/playlists/evanescence
cmus/.config/cmus/playlists/Fast_The_Furious
cmus/.config/cmus/playlists/Galantis
cmus/.config/cmus/playlists/GEazy
cmus/.config/cmus/playlists/GymRunning
cmus/.config/cmus/playlists/Hardstyle_Bangers
cmus/.config/cmus/playlists/Imagine_Dragons
cmus/.config/cmus/playlists/Jazz
cmus/.config/cmus/playlists/Kenyan_Old_School
cmus/.config/cmus/playlists/Lil_Wayne
cmus/.config/cmus/playlists/linkin
cmus/.config/cmus/playlists/Linkin_Park
cmus/.config/cmus/playlists/Machine_Gun_Kelly
cmus/.config/cmus/playlists/Magc
cmus/.config/cmus/playlists/Martin_Garix
cmus/.config/cmus/playlists/Michael_Jackson
cmus/.config/cmus/playlists/Mixes
cmus/.config/cmus/playlists/MonsterCat
cmus/.config/cmus/playlists/More_Than_You_Know
cmus/.config/cmus/playlists/MusicMatters
cmus/.config/cmus/playlists/Music_Vero
cmus/.config/cmus/playlists/Nickelback
cmus/.config/cmus/playlists/OldSkool
cmus/.config/cmus/playlists/onedirection
cmus/.config/cmus/playlists/onerepublic
cmus/.config/cmus/playlists/Owl_City
cmus/.config/cmus/playlists/Pnk
cmus/.config/cmus/playlists/pop
cmus/.config/cmus/playlists/Post_Malone
cmus/.config/cmus/playlists/Reggea
cmus/.config/cmus/playlists/RnB
cmus/.config/cmus/playlists/Rock
cmus/.config/cmus/playlists/Sauti_Sol
cmus/.config/cmus/playlists/Sensual
cmus/.config/cmus/playlists/Shawn_Mendes
cmus/.config/cmus/playlists/Sia
cmus/.config/cmus/playlists/Silver
cmus/.config/cmus/playlists/Slow
cmus/.config/cmus/playlists/Stromae
cmus/.config/cmus/playlists/Suicide_Squad
cmus/.config/cmus/playlists/Summer_Playlist
cmus/.config/cmus/playlists/Tommorrow_Land
cmus/.config/cmus/playlists/Unsorted
cmus/.config/cmus/playlists/Warroir_Workout
cmus/.config/cmus/playlists/White_Noise
cmus/.config/cmus/playlists/Zilizopendwa
