snippet doc "Document"
@document.meta
	title: ${1}
	description: ${2}
	author: saidimu
	categories: [ ${3} ]
	created: `date "+%Y-%m-%d"`
	version: 0.1
@end
endsnippet

snippet code "Code Data"
@code ${1}
	${2}
@end
endsnippet

snippet todo "Todo List"
	- [${1}] ${2}
endsnippet

snippet link "Link"
	{ ${1} }[${2}]!
endsnippet

snippet table "Table"
@table
	${1}
@end
endsnippet

snippet section "Section"
** ${1}
${2}
endsnippet

snippet summary "Summary"
@summary
${1}
@end
endsnippet
